# Node modules
node_modules
.npm
.config
data
dump

# Adonis directory for storing tmp files
tmp

# Environment variables, never commit this file
.env
.env.docker
.bash_history

# The development sqlite file
database/*.sqlite
